@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');

:root {
  --font: 'Inter', sans-serif;
  --Toggle: hsl(230, 22%, 74%);
  --Bg: hsl(0, 0%, 100%);
  --topBgPattern: hsl(225, 100%, 98%);
  --cardBg: hsl(227, 47%, 96%);
  --text: hsl(228, 12%, 44%);
  --text2: hsl(230, 17%, 14%);
  --Facebook: hsl(208, 92%, 53%);
  --Twitter: hsl(203, 89%, 53%);
  --Instagram: linear gradient hsl(37, 97%, 70%) to hsl(329, 70%, 58%);
  --YouTube: hsl(348, 97%, 39%);
}
html[data-colormode='dark'] {
  --Toggle: hsl(146, 68%, 55%);
  --Bg: hsl(230, 17%, 14%);
  --topBgPattern: hsl(232, 19%, 15%);
  --cardBg: hsl(228, 28%, 20%);
  --text: hsl(228, 34%, 66%);
  --text2: hsl(0, 0%, 100%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#root {
  position: relative;
  width: 100%;
  height: 100vh;
  background: var(--Bg);
}

// code for nav main

.nav-main {
  padding: 1em 0;
  font-family: var(--font);

  .left-nav {
    padding: 0;
  }

  //   title main nav
  .title-nav-main {
    font-size: 1.5em;
    font-weight: 700;
    color: var(--text2);
  }

  .span-title {
    margin-top: -5px;
    font-size: 0.9em;
    font-weight: 700;
    margin-bottom: 0;
    color: var(--text);
  }

  //
  // CODE FOR NAVBAR ITEM RIGHT
  .right-nav {
    width: auto;
    gap: 0.8em;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100%;
  }

  .dark-mode {
    color: var(--text);
    font-size: 0.9em;
    font-weight: 700;
  }

  .btn-dark-mode {
    height: 100%;
    width: 55px;
    border-radius: 2em;
    border: none;
    padding: 0.3em;
    position: relative;
    background: var(--Toggle);
    transition: 0.4s;

    & .toggle-active {
      transform: translateX(120%);
    }

    .toggle {
      display: block;
      transition: 0.4s;
      width: 20px;
      height: 20px;
      background: var(--Bg);
      border-radius: 50%;
    }
  }
}

// media < 400px

@media only screen and (max-width: 500px) {
  .nav-main {
    .left-nav {
      margin-bottom: 0.7em;
      width: 100%;
      padding-bottom: 1em;
      box-shadow: 0 0.1em 0 var(--text);
    }

    .right-nav {
      width: 100%;
      justify-content: space-between;
    }
  }
}

// media < 320px
@media only screen and (max-width: 320px) {
  .nav-main {
    .title-nav-main {
      font-size: 1.1em;
    }
    .span-title {
      font-size: 0.7em;
    }
  }
}
